@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h1, h2, h3, h4, h5, h6, p{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

.thead{
    border-bottom: 1.5px solid #0F3457;
}

.t-container{
    padding:5% 25%;
    background-color: #0F3457;
    border-radius: 20px;
    margin:40px
}

.bg-table{
    background-color: white;
    padding:20px;
    border-radius: 20px;
}

.title{
    padding:20px 0;
    color:white;
}
.text-center{
    text-align: center;
}

.m-x-10{
margin-left: 10%;
margin-right: 10%;
}

.verbtn{
    padding: 0 32px;
    background-color: transparent;
    border-radius: 25px;
    float: right;
    cursor: pointer;
    border: 1.5px solid #0F3457;
}

.verbtn:hover{
    border: 1.5px solid #2B849C;
    color: #2B849C;
}

.bold{
    font-weight: bold;
}