<h2 class="title">List Post</h2>
<div class="t-container">
  <table class="table">
    <thead>
      <tr>
        <th><h3>ID</h3></th>
        <th><h3>Posts</h3></th>
        <th><h3>Actions</h3></th>
      </tr>
    </thead>     
      <tbody>
        <tr *ngFor='let post of posts; let i = index'>
          <td><p class="text-center bold">{{i + 1}}</p></td>
          <td><p class="m-x-10">{{post.title}}</p></td>
          <td><button class="verbtn text-center" [routerLink]="['/post', i+1]"><p>Ver</p></button></td>
        </tr>
      </tbody>  
    </table> 
</div>