@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

h1, h2, h3, h4, h5, h6, p{
    font-family: 'Nunito', sans-serif;
}

span{
    font-weight: bold;
}
.table{
    border-radius: 25px;
    border-collapse: collapse;
}

.t-container{
    display: flex;
    justify-content: center;
}

.comment-container{
    background-color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btnEmit{
    float: right;
    background-color: #de702b;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    color:white;
    font-weight: bold;
}

.btnEmit:hover{
    background-color: #c94e00;
}

.title{
    color:white;
    font-weight: 700;
    font-size: 30px;
}