<!-- <p>Este es el post: {{id}} </p> -->
<div>
    <div class="container">
        <div class="details">
            <div class="title">
                <p>Detail post: {{post.id}}</p> 
                <p *ngIf="fecha">Ultimo comentario: {{fecha | date:'dd/mm/yyyy'}}</p> 
            </div>
            <h2 class="card-title">{{post.title | titlecase }}</h2>
            <p>{{post.body}}</p>
        </div>
        <div class="comment-bg">
            <app-comentarios (emitDate)=setFecha($event) [id]="post.id"></app-comentarios>
        </div>
    </div>
</div>
